.LogoContainer{
    width:25%;
    margin:auto;
    overflow:hidden;
}

header #logo{
    float:left;
}

header #logo h1{
    margin:1;
}

<footer navigation>

.gridbox {
    display: grid;
    grid: 5000px / auto auto auto;
}

.logohome{
    
    left: 0;    
    bottom: 0;
    width: 1200px;
    height: 1200px;
}
.logowebshop{
  
    left: 0;    
    bottom: 0;
    width: 1200px;
    height: 1200px;
}
.logoopslag{
   
    left: 0;    
    bottom: 0;
    width: 1200px;
    height: 1200px;
}
.logospil{
  
    left: 0;    
    bottom: 0;
    width: 1200px;
    height: 1200px;
}

.logoprofil{
    
    left: 0;    
    bottom: 0;
    width: 1200px;
     height: 1200px;
}

</footer navigation>


